<div class="container ">
  <a routerLink="/">Back</a>
  @if (olympic()) {
  <div class="flex flex-col align-items-center gap-16">
    <h1 class="main-title xs-full-width">{{ olympic()?.country }}</h1>

    <div class="flex xs-flex-col xs-full-width">
      <app-card title="Number of entries" number="{{ olympic()?.participations?.length }}"></app-card>
      <app-card title="Total number medals" number="{{ totalMedalsCount() }}"></app-card>
      <app-card title="Total number of athletes" number="{{ totalAthleteCount() }}"></app-card>

    </div>

    <div class="container-chart">
      <app-line-chart [olympicCountry]="olympic()" />
    </div>
  </div>
  } @else {
    <p>Une erreur est survenue</p>
  }
</div>
