.container {
  max-width: 1200px;
  margin: 50px auto 0;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

.gap-50 {
  gap: 50px;
}

.text-sm {
  font-size: 0.75rem;
}

.text-light {
  font-weight: 300;
}

.text-semibold {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.w-100 {
  width: 100%;
}

.xs-flex-col {
  @media screen and (max-width: 820px) {
    flex-direction: column;
  }
}

.xs-full-width {
  @media screen and (max-width: 820px) {
    width: 100%;
  }
}





