<div class="container flex flex-col align-items-center gap-16">
  <h1 class="main-title xs-full-width">Medals per Country</h1>

  @if (olympics) {
    <div class="flex xs-flex-col xs-full-width">
      <app-card title="Number of JOs" number="{{ maxParticipations }}" />
      <app-card title="Number of countries" number="{{ olympics.length || 0 }}" />
    </div>
    <div class="chart-container">
      @if (olympics.length > 0) {
        <app-pie-chart [olympicCountries]="olympics"/>
      })
    </div>
  } @else {
    <p>Une erreur est survenue</p>
  }

</div>
